.playerPick {
 font-family: 'Architects Daughter', cursive;
 font-size: 40px;
 border: 2px solid black;
 border-radius: 15px;
 padding: 10px;
 color: #4773ab;
 width: 95%;
 text-align: center;
}

.computerPick {
 font-family: 'Orbitron', sans-serif;
 font-size: 40px;
 border: 2px solid black;
 border-radius: 15px;
 color: darkgreen;
 padding: 10px;
 width: 95%;
 text-align: center;
}

.results {
 font-family: 'Contrail One', cursive;
 font-size: 25px;
 margin-top: 120px;
}

.choices {
    margin-top: 75px;
}

.gameStart {
    height: 70px;
    width: 90%;
    border-radius: 15px;
    border-style: none;
    background: #7be67b;
    font-family: 'Contrail One', cursive;
    margin-top: 75px;
    margin-left: 35px;
}

.backgroundCol {
    background-color: #fbfbfb;
}

.versus {
    text-align: center;
    width: 95%;
    font-size: 70px;
    font-family: 'Contrail One', cursive;
    font-weight: bold;
}
